services:
  optical_postgres:
    # image: postgres:latest
    image: paradedb/paradedb:latest
    container_name: optical_postgres
    ports:
      - 127.0.0.1:5433:5432
    volumes:
      - optical_postgres_data:/var/lib/postgresql
    env_file:
      - .env

  optical_redis:
    image: redis:7.2
    restart: always
    container_name: optical_redis
    ports:
      - "127.0.0.1:6389:6379"
    command: redis-server --save 60 1 --loglevel warning --requirepass $REDIS_PASSWORD
    volumes:
      - optical_redis_data:/data
    env_file:
      - .env

  optical_redis_insight:
    image: redis/redisinsight:latest
    container_name: optical_redis_insight
    depends_on:
      optical_redis:
        condition: service_started
    ports:
      - 127.0.0.1:8089:5540
    environment:
      - RI_REDIS_HOST=optical_redis
    env_file:
      - .env

  optical_minio:
    image: quay.io/minio/minio
    container_name: optical_minio
    command: server /data --console-address ":9001"
    ports:
      - 127.0.0.1:9000:9000
      - 127.0.0.1:9001:9001
    volumes:
      - optical_minio_data:/data
    env_file:
      - .env

volumes:
  optical_postgres_data:
  optical_redis_data:
  optical_minio_data:
