openapi: 3.1.0
servers:
  - url: http://localhost:8000
info:
  title: Optical Backend API
  version: 1.0.0
  description: API for Optical Backend
tags:
  users:
    description: Users and authorization
  calendars:
    description: Calendars and events
paths:
  /register:
    post:
      summary: Create a new user
      tags: 
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '200':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /login:
    post:
      summary: Login a user
      tags: 
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: User logged in successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLoginResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /refresh:
    post:
      summary: Refresh access token
      tags: 
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /users/@me:
    get:
      summary: Get current user information
      tags: 
        - users
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
  /calendars:
    get:
      summary: Get list of calendars
      tags: 
        - calendars
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Calendar list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '500':
          description: Internal server error
    post:
      summary: Create a new calendar
      tags: 
        - calendars
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCreateRequest'
      responses:
        '200':
          description: Calendar created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCreateResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /calendars/{calendarId}/events:
    post:
      summary: Create a new event
      tags: 
        - calendars
      security:
        - bearerAuth: []
      parameters:
        - name: calendarId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequest'
      responses:
        '200':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCreateResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
<<<<<<< HEAD
    get:
      summary: Get events from a calendar
=======
  /calendars/{calendarId}/events/{eventId}:
    patch:
      summary: Update an event
>>>>>>> 85349af (docs: exampleを追加 #22)
      tags: 
        - calendars
      security:
        - bearerAuth: []
      parameters:
        - name: calendarId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventListResponse'
        '400':
          description: Invalid request
        '403':
          description: Forbidden - Calendar does not belong to user
        '500':
          description: Internal server error
  /calendars/{calendarId}/events/{eventId}:
    patch:
      summary: Update an event
      tags: 
        - calendars
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdateRequest'
      responses:
        '204':
          description: Event updated successfully
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /calendars/images:
    post:
      summary: Upload an image
      tags: 
        - calendars
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserCreateRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          example: optical-user
        email:
          type: string
          format: email
          example: optical-user@example.com
        password:
          type: string
          example: password
    UserCreateResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserCreateResponseUser'
        accessToken:
          type: string
        refreshToken:
          type: string
    UserResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: optical-user@example.com
        password:
          type: string
          example: password
    UserLoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/UserLoginResponseUser'
    CalendarCreateRequest:
      type: object
      required:
        - name
        - color
        - optionIds
      properties:
        name:
          type: string
          example: calendar
        color:
          type: string
          example: 112233
        imageId:
          type: string
          format: uuid
        optionIds:
          type: array
          items:
            type: string
          example: []
    CalendarCreateResponse:
      type: object
      properties:
        id:
          type: string
    CalendarListResponse:
      type: object
      properties:
        calendars:
          type: array
          items:
            $ref: '#/components/schemas/CalendarResponse'
    CalendarResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
    EventCreateRequest:
      type: object
      required:
        - title
        - memo
        - color
        - location
        - startTime
        - endTime
        - isAllDay
      properties:
        title:
          type: string
          example: title-example
        memo:
          type: string
          example: memo-example
        color:
          type: string
          example: 112233
        location:
          type: string
          example: location-example
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        isAllDay:
          type: boolean
    EventCreateResponse:
      type: object
      properties:
        id:
          type: string
    EventListResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        calendarId:
          type: string
          format: uuid
        title:
          type: string
        memo:
          type: string
        color:
          type: string
        location:
          type: string
        isAllDay:
          type: boolean
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    TokenRefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
    TokenRefreshResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: string
          format: date-time
    UserLoginResponseUser:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
    UserCreateResponseUser:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
    ImageUploadResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
    EventUpdateRequest:
      type: object
      required:
        - title
        - memo
        - color
        - location
        - startTime
        - endTime
        - isAllDay
      properties:
        title:
          type: string
          example: title-example
        memo:
          type: string
          example: memo-example
        color:
          type: string
          example: 112233
        location:
          type: string
          example: location-example
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        isAllDay:
          type: boolean
securityDefinitions:
  bearerAuth:
    type: apiKey
    in: header
    name: Authorization
    description: Enter your bearer token in the format **Bearer <token>**
